header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    border-bottom: 2px solid #5c565c;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    padding: 5px 15px;
    margin: 0 auto;
}

.link {
    color: #2e2a2e;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 0.5em;
    font-size: 0.9em;
}

.link:hover {
    color: #ff8627;
}

#logo {
    width: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

h1 {
    margin: 0;
}

@media screen and (min-width: 400px) {
    #logo {
        width: 130px;
    }
}

@media screen and (min-width: 500px) {
    .link {
        margin-left: 2em;
    }
}
